body {
	margin: 0;
	padding: 0;
	background-color: #121212;
}

#s-main-content {
	/*width: 100%;*/
	height: 100%;

}

#s-main-content ul {
	margin: 0;
	margin-left: 2%;
	margin-right: 2%;
	/*margin-bottom: 28%;*/
}

#s-main-content ul li {
	padding: 0
}

.content-column {

}

.content-column img {
  /*width: 80%;*/
  width: 100%;
}

.content-column .s-name {
	width: 75%;
	margin-top: 18%;

}

.score-div-bg {
	height: 6px;
	width: 70%;
	margin-top: 18%;
	margin-left: 15%;
	background-color: #262625;
}

.score-div {
	height: 6px;
	width: 50%;
	/*margin-top: 25%;*/
	/*margin-left: 13%;*/
	background-color: #ff0000;
}

#s-header {
	padding-top: 7%;
	padding-bottom: 6%;
}

#s-header img {
	width: 14%;
}


#s-footer {
	/*margin-top: 9%;*/
	width: 100%;
	position: absolute;
	top: 92%;
	/*margin-bottom: 12%;*/
}

#s-footer img {
	width: 9%;
}