
#s-main-content {
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	opacity: 0;
	background: rgb(18,18,18); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(18,18,18,1) 0%, rgba(18,18,18,1) 69%, rgba(26,26,26,1) 86%, rgba(26,26,26,1) 86%, rgba(36,36,36,1) 96%, rgba(38,38,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,18,18,1)), color-stop(69%,rgba(18,18,18,1)), color-stop(86%,rgba(26,26,26,1)), color-stop(86%,rgba(26,26,26,1)), color-stop(96%,rgba(36,36,36,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 69%,rgba(26,26,26,1) 86%,rgba(26,26,26,1) 86%,rgba(36,36,36,1) 96%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 69%,rgba(26,26,26,1) 86%,rgba(26,26,26,1) 86%,rgba(36,36,36,1) 96%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 69%,rgba(26,26,26,1) 86%,rgba(26,26,26,1) 86%,rgba(36,36,36,1) 96%,rgba(38,38,38,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 69%,rgba(26,26,26,1) 86%,rgba(26,26,26,1) 86%,rgba(36,36,36,1) 96%,rgba(38,38,38,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#262626',GradientType=0 );
}

#s-main-content ul {
	margin: 0;
	margin-bottom: 10%;
}

#s-main-content ul li {
  /*border-left: 1px solid black;*/
  padding: 0; 
  width: 100%;

  margin-bottom: 4%;
}

.content-column {
	width: 100%;
}

.content-imgs {
	float: left;
	width: 40%;
}

.content-imgs  .wine-logo {
	width: 50%;
}

.content-imgs .s-name {
	width: 60%;
	margin-bottom: 8%;

}

.content-score {
	float: left;
	width: 60%;
	margin-top: 13%;
}

.score-div-bg {
	height: 3px;
	width: 80%;
	/*margin-top: 25%;*/
	/*margin-left: 13%;*/
	background-color: #262625;
}

.score-div {
	height: 3px;
	width: 50%;
	/*margin-top: 25%;*/
	/*margin-left: 13%;*/
	background-color: #ff0000;
}

#s-header {
	margin-top: 10%;
	margin-bottom: 12%;
}

#s-header img {
	width: 25%;
}

#s-logo {
	margin-top: 12%;
	margin-bottom: 12%;
}

#s-logo img {
	width: 40%;
}

#s-footer {
	width: 100%;
	/*position: absolute;*/
	/*top: 90%;*/
	/*margin-bottom: 12%;*/
}

#s-footer img {
	width: 25%;
}

