
#s-main-content {
	/*width: 100%;*/
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	opacity: 0;
}

#s-main-content ul {
	margin: 0;

	margin-bottom: 28%;
}

#s-main-content ul li {
  /*border-left: 1px solid black;*/
  padding: 0
}

.content-column {

}

.content-column img {
  /*width: 80%;*/
}

.content-column .s-name {
	width: 90%;
	margin-top: 34%;

}

.score-div-bg {
	height: 3px;
	width: 76%;
	margin-top: 25%;
	margin-left: 13%;
	background-color: #262625;
}

.score-div {
	height: 3px;
	width: 50%;
	/*margin-top: 25%;*/
	/*margin-left: 13%;*/
	background-color: #ff0000;
}

#s-header {
	margin-top: 10%;
	margin-bottom: 12%;
}

#s-header img {
	width: 25%;
}

#s-logo {
	margin-top: 12%;
	margin-bottom: 12%;
}

#s-logo img {
	width: 40%;
}

#s-footer {
	width: 100%;
	position: absolute;
	top: 90%;
	/*margin-bottom: 12%;*/
}

#s-footer img {
	width: 25%;
}

